.search__result {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.search__result-container__navbar {
  display: grid;
}

.search__result-container__navbar-overlay {
  grid-area: 1 / 1;
}

.search__result-content {
  grid-row: 2/-1;
}

.search__result-container__navbar {
  grid-row: 1/4;
}

.search__result-content,
.search__result-container__navbar {
  /* grid-area: 1 / 1; */
  grid-column: 1 / 2;
}
.search__result-content-container {
  height: 100%;
  width: 100%;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 78%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .search__result {
    grid-template-rows: repeat(12, 1fr);
  }
}

/* @media screen and (max-width: 450px) {
  .search__result {
    grid-template-rows: repeat(8, 1fr);
  }
} */
