.search__bar {
  position: relative;
  width: 100%;
  max-width: calc(950px - 6rem);
  max-height: fit-content;
  background: var(--color-bg);
  padding: 0 0 0 1rem;
  display: flex;
  min-height: 30px;
  border-radius: 40px;
  justify-content: flex-start;
  align-items: center;
}

.search__bar .search__icon {
  color: var(--color-text-white);
  margin-right: 0.5em;
}

.search__bar input {
  flex: 2;
  width: 100%;
  min-height: 20px;
  background: var(--color-bg);
  line-height: 27px;
  outline: none;
  color: var(--color-text-white);
  font-family: var(--font-family);
  font-weight: 300;
  border: none;
}

.search__bar input.small {
  display: none;
}

.search__bar button .search__icon__inside {
  display: none;
  color: var(--color-total-black);
}

/* navbar css */

.search__bar-navbar__prop {
  padding: 0 0 0 0.2rem !important;
  background: var(--color-total-black) !important;
  margin-left: 5rem;
}

.search__bar-navbar__prop .uploadInput {
  display: none;
}

.search__bar-navbar__prop input {
  background: var(--color-total-black) !important;
}

.search__bar-navbar__prop button {
  font-size: 16px !important;
  padding: 0.3rem !important;
}

.search__bar-navbar__prop .upload__button {
  background: var(--color-total-black) !important;
  color: var(--color-text-white);
}

.search__bar-navbar__prop .upload__button .upload__button-icon {
  vertical-align: middle;
  margin-right: 0.3em;
  font-size: 18px !important;
}

.search__bar-navbar__prop .upload__button {
  padding-right: 0 !important;
}

.search__bar-navbar__prop .upload__button .line-icon {
  vertical-align: middle;
  font-size: 18px !important;
}

.uploadBox {
  position: absolute;
  top: 54px;
  left: 0;
  width: 65%;
  max-width: calc(950px - 12rem);
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 350px;
  background: var(--color-total-black);
  border-radius: 40px;
  padding: 1.5rem 2rem;
  box-shadow: 20px 20px 60px 6px rgba(255, 255, 255, 0.08);
}

.uploadBox.appear {
  animation: appear-animation-box 0.2s ease-out alternate;
}

@keyframes appear-animation-box {
  0% {
    transform: translateY(20px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

.uploadBox.disappear {
  animation: disappear-animation-box 0.2s ease-out alternate;
}

@keyframes disappear-animation-box {
  100% {
    transform: translateY(20px);
    opacity: 0%;
  }

  0% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

.uploadBox-header {
  display: flex;
  justify-content: space-between;
}

.uploadBox-header .exit__icon {
  color: var(--color-text-white);
  font-size: 30px;
  cursor: pointer;
}

.uploadBox-header h1 {
  font-size: 18px !important;
}
.uploadBox-image__preview {
  margin-top: 1rem;
  background: var(--color-bg);
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;

  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.uploadBox-image__preview img {
  box-sizing: border-box;
  max-width: 100% !important;
  min-width: 200px !important;
  max-height: 100% !important;
  height: auto;
}

@media screen and (max-width: 1280px) {
  .uploadBox {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .search__bar-navbar__prop {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 450px) {
  .search__bar .search__icon {
    width: 0%;
    height: 0%;
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  .search__bar input.small {
    display: inline-block;
  }

  .search__bar input.big {
    display: none;
  }

  .search__bar-navbar__prop button .search__icon__inside {
    font-size: 18px !important;
  }

  .search__bar button {
    font-size: 18px !important;
    padding: 0.2rem 0.8rem !important;
    min-width: fit-content;
  }
}

@media screen and (max-width: 320px) {
  .search__bar button {
    align-items: center;
    text-align: center;
    padding: 0.8rem !important;
    font-size: 0 !important;
    min-width: fit-content;
    line-height: 0px;
  }
  .search__bar button .search__icon__inside {
    display: inline-block;
    font-size: 20px;
  }
}
