.header .title {
  font-size: 36px;
  color: var(--color-text-white);
  font-weight: 700;
}

.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  /* grid-template-columns: repeat(auto-fit, minmax(calc(300px + 2rem), 1fr)); */
}

.character__details-name {
  display: flex;
  align-items: flex-end;
  padding-bottom: 2rem;
}

.character__details-name .title__highlight {
  margin-left: 1em;
}

.header-character__img {
  padding: 0 3rem 2rem 0;
  grid-column: 1 / 1;
}

.header-character__details {
  grid-column: 2 / -1;
  max-width: 1000px;
}

.header-character__details .description::-webkit-scrollbar {
  display: none;
}

.header-character__details .description {
  overflow: scroll;
  max-height: 300px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  line-clamp: 12;
  -webkit-box-orient: vertical; */
}

.header-character__details .description p {
  margin-bottom: 0.5em;
}
.header-character__img .character__img {
  overflow: hidden;
  border-radius: 40px;
  width: clamp(200px, 300px, 300px);
  height: clamp(200px, 400px, 400px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-character__details .explore__button {
  background: var(--color-highlight-yellow);
  color: var(--color-text-black);
  text-align: center;
  margin-top: 2rem;
}

@media screen and (max-width: 960px) {
  .header {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .character__details-name {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-character__details {
    grid-column: 1 / 1;
  }

  .character__details-name .title__highlight {
    line-height: 24px;
    margin-left: 0;
  }

  .header-character__img {
    padding: 0 0 2rem 0;
    justify-self: center;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    min-width: 1280px;
  }
}
